*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    justify-content: right;
}
li{
    list-style: none;
    margin-right: 20px;
    padding: 20px;
}
li:hover{
    text-decoration:underline;

}
body{
    font-family: 'Roboto', sans-serif;
}
.caja{
    background: url(../img/fondo.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70vh;
    
}
.caja_2{
    width: 60%;
    height: 100%;
    margin-left: 5%;
    padding-top: 5%;
}
.grande{
    color: #fff;
    font-size: 75px;
    font-weight: 900;
}
.mediano{
    color: #fff;
    font-size: 45px;
    font-weight: bold;
}
.pequeño{
    color: #fff;
    font-size: 35PX;
}
h2{
    text-align: center;
    font-weight: lighter;
    color: rgb(223, 30, 30) ;
}
p{
    text-align: center;
}
.caja2 img{
    float: left;
}
.aprende{
    text-align: right;
}